body{
  margin: 0;
  padding: 0;
  width: 100%;
}
#headpart{
  box-sizing: border-box;
  width: 100%;
  padding-right: 0.5%;
  padding-left: 5%;
  height: 140px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 7px 15px 0 rgba(0, 0, 0, 0.10);
}
.logo{
  position: relative;
  width: 320px;
  height: 120px;
  display: inline-block;
}
.logo img{
  padding-top: 30px;
  width: 80px;
  height: auto;
}
.brandname{
  position: absolute;
  top: 50px;
  right: 0px;

}
.brandname span{
  font-size: 1.5em;
}
.headerbuttons{
  float: right;
  width: 650px;
  padding-top: 50px;
  height: 120px;
  box-sizing: border-box;
}
.but{
  padding-right: 35px;
  font-size: 18px;
}
#eachcomp{
  margin-right: 5%;
  margin-left: 5%;
  box-sizing: border-box;
}
#homeback1{
  width: 100%;
  background-color: white;
  position: relative;
}
#homeback1 img{
  width: 100%;
  min-height: 600px;
}
.hi1{
  z-index: 1;
}
.headingback1{
  position: absolute;
  top: 100px;
  padding-left: 30px;
  padding-right: 10px;
  left: 0;
  font-size: 60px;
}

#ho{
  margin-top: 20px;
}
#jkl{
  box-sizing: border-box;
  width: 100%;
  padding-right: 50%;
}
#jkl1{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 40px;
  padding-left: 30px;

}
.thr{
  float: left;
  width: 30%;
  margin: 0;
  margin-right: 1.66%;
  margin-left: 1.66%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: black;
  height: 400px;
  position: relative;
  padding: 0 20px 0px 20px; 
}
#joi{
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
  font-size: 42px;
  background-color: rgb(56, 53, 53);
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
#joi:hover{
  background-color: rgb(26, 25, 25);
}
#collection3{
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
  height: 410px;
  color: white;
}
.thrhe{
  padding-top: 12px;
  font-size: 28px;
  display: block;
  font-weight: 500;
  text-align: center;
}
.thr3{
  float: right;
}
.matt{
  margin-top: 30px;
  font-size: 17px;
}
.mattbut{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  bottom: 0;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  font-size: 25px;
  text-align: center;
  width: 50%;
  font-weight: 600;
  box-sizing: border-box;
  margin-left: 20%;
}
#footer{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 70px;
}
.divinput{
  margin-bottom: 20px;
}
.inputfields{
  padding-top: 10px;
  width: 50%;
  height: 35px;
  font-size: 19px;
  border: none;
  border-bottom: 1px solid rgb(100, 97, 97);
}
.submit{
  padding: 5px 10px 10px 5px;
  text-align: center;
  background-color: black;
  display: inline-block;
  border-radius: 20px;
  width: 200px;
  font-size: 27px;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: rgb(56, 53, 53);
  transition: 0.2s;
}
.submit:hover{
  background-color: rgb(26, 25, 25);
}
.socialimg{
  padding: 6px;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.soc{
  margin: 10px 5% 10px 5%;
}
.socialimg:hover{
  width: 54px;
  height: 54px;
  padding: 4px;
}

.socdiv{
  display: inline-block;
  width: 100px;
  height: 70px;
}
.copyrights{
  margin-top: 20px;
  font-size: 20px;
  float: right;
}
#courses{
  margin: 20px 5% 20px 5%;
  
}
.eachcourse{
  width: 28%;
  margin-right: 2.66%;
  margin-left: 2.66%; 
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.courseimg{
  width: 100%;
  height: auto;
}
.eachcourse1{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.eachimg1{
  width: 30%;
  height: auto;
}
#carthalf{
  margin-left: 5%;
  display: inline-block;
  width: 60%;
  min-height: 200px;
}
#pri{
  font-family: 'Montserrat', sans-serif;
  float: right;
  height: auto;
  width: 67%;
  margin-top: 1px;
}
.totcart{
  margin-top: 25px;
}
#totalamount{
  float: right;
  width: 30%;
  font-family: 'Montserrat', sans-serif;
}
.Xbutton{
  margin-bottom: 20px;

}
#cartlen{
  margin-left: 4px;
  padding: 4px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 40px;
  background-color: black;
  color: white;
}
.q1{
  margin-top: 8px;
}
.q2{
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
  margin-bottom: 8px;
  font-weight: 600;
  color: rgb(94, 27, 27);
}
.q3{
  font-family: 'Montserrat', sans-serif;
  margin-top: 4px;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
#hiring{
  color: white;
  margin-top: 20px;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  background-color: rgb(112, 103, 103);
}
.hiring2{
  margin-top: 40px;
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}
.order{
  font-size: 26px;
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
  margin-bottom: 40px;
}
.subtax{
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 5px;
}
.checkout{
  margin-top: 40px;
  width: 80%;
  height: 30px;
  background-color: red;
  color: white;
  cursor: pointer;
  text-align: center; 
  font-size: 20px;
}
.cartempty{
  font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
}
.conh1{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;  
  font-weight: 600;
}